* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

div {

    width: 90%;
    margin: 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 400px;
    color: #333;

    position: relative;
}
div::after {
    content: "";
    width: 20px;
    height: 20px;

    background-color: #ffa600;

    position: absolute;
    top: 24%;
    left: 240px;

    animation-name: game;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes game {
    5%{
        translate:-150px 0;
    }
    10% {
        translate: -150px 117px;
    }
    20% {
        translate: 0px 117px;
    }
    25% {
        translate: -150px 117px;
    }
    30% {
        translate: -150px 250px;
    }
    40% {
        translate: 0 250px;
    }
    45% {
        translate: -150px 250px;
    }
    50% {
        translate: -150px 0px;
    }
    60% {
        translate: 0 0;
    }
}

@media (min-width:991px) { 
    div::after {
        position: absolute;
        top: 24%;
        left: 47%;
    }
}